@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-mobile-2x.jpg);
    }
  }
  .hero-titlo {
    font-size: 36px;
    max-width: 320px;
  }
  .subscribe-input {
    width: 398px;
  }
  .mobile-menu-tel {
    font-size: 36px;
  }
}

@media screen and (min-width: 220px) and (max-width: 767px) {
  .header .container {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;
  }
  .container {
    padding-right: 5px;
  }
  .section-portfolio {
    padding: 48px;
    width: 100%;
  }
  .portfolio-button {
    display: flex;
    gap: 16px 24px;
  }
  .menu-baton {
    width: calc((100% - 48px) / 3);
    height: 96px;
    max-width: 263px;
  }
}

@media screen and (max-width: 1157px) {
  .advant-soc-icon {
    display: none;
  }
  .result {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-adr {
    display: flex;
    gap: 12px;
    transition: color var(--transition);
    flex-direction: column;
  }
  .header-logo {
    margin-right: 76px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .advantages-menu {
    display: flex;
    gap: 72px 24px;
  }
  .advantages-menu-item {
    width: calc((100% - 24px) / 2);
    max-width: 356px;
  }
  .hero-advantages {
    text-align: left;
  }

  .team-menu {
    display: flex;
    gap: 64px 24px;
  }

  .team-menu-item {
    width: calc((100% - 24px) / 2);
    max-width: 264px;
  }
  .customers-menu {
    display: flex;
    gap: 72px 24px;
  }
  .customers-menu-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-2x.jpg);
    }
  }
  .container-footer {
    gap: 72px 24px;
  }

  .hero-titlo {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
  }
  .subscribe-input {
    width: 264px;
  }
  .footer-cont {
    text-align: left;
  }
  .paragraf-social {
    text-align: left;
  }
  .header-menu {
    display: flex;
    gap: 40px;
    max-width: 261px;
  }
  .mobile-menu-open {
    display: none;
  }
  .mobile-menu-container {
    display: none;
  }
  .form-subscribe {
    gap: 24px;
  }
  .form-subscribe {
    padding-right: 40px;
  }
  .header .container {
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header-menu .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color var(--transition);
    position: relative;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
  }

  .header-menu-link.current {
    color: #404bbf;
  }

  .header-menu-link:is(:hover, :focus) {
    color: #404bbf;
  }

  .address {
    font-style: normal;
    font-weight: 400;
    margin-left: 121px;
  }

  .adres-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    transition: color var(--transition);
  }

  .adres-link:is(:hover, :focus) {
    color: #404bbf;
  }
  .header-adr {
    display: flex;
    gap: 12px;
    transition: color var(--transition);
  }
  .portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
  }

  .foto-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-button {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }
  .button-text {
    padding: 12px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .advantages-container-icon {
    background: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .hero-advantages-text {
    font-weight: 400;
  }

  .advantages-menu-item {
    width: calc((100% - 72px) / 4);
    max-width: 264px;
  }
  .advantages-menu {
    gap: 24px;
  }
  .team-menu-item {
    width: calc((100% - 72px) / 4);
  }

  .team-menu {
    gap: 24px;
  }

  .customers-menu {
    display: flex;
    gap: 24px;
  }
  .customers-menu-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .footer-bgr {
    padding: 100px 0;
  }

  .subscribe-button {
    margin-left: 24px;
  }

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
  .hero-titlo {
    color: #ffffff;
    margin-bottom: 48px;
  }
  .form-subscribe {
    display: flex;
    gap: 24px;
  }
  .header-adr {
    display: flex;
    align-items: flex-end;
    gap: 40px;
  }
  .address {
    font-style: normal;
    font-weight: 400;
    max-width: 344px;
    margin-left: 251px;
  }
  .portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
  }

  .foto-item {
    width: calc((100% - 48px) / 3);
  }
}
